<div class="users-new-wrapper">
  <div class="bkRGBA">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-md-6 users-new-container">
          <h1>詳細画面</h1>
          
          <% if @shop.image? %>
              <%= image_tag @shop.image.url %>
          <% end %>
          <p><%= @shop.name %></p>
          <p><%= @shop.genre %></p>
          <p><%= @shop.info %></p>
          <p><%= @shop.tell %></p>
        </div><!--users-new-container-->
      </div><!--row-->
    </div><!--container-->
  </div><!--bkrgb-->
</div><!--new-wrapper-->